# **Analyse des ventes 2022 : Tableau de bord Power BI**

**0 - Importation des bibliothèques pour l'analyse de données et la visualisation**

In [3]:
import pyodbc
import pandas as pd
from sqlalchemy import create_engine

**1 - Connexion à SQL Server , Chargement et Exploration Initiale des Données**

In [ ]:
# Définir les paramètres de connexion
server = "DESKTOP-2546E\\SQLEXPRESS" # Remplace par le nom de SERVER
database = "POWER_BI" ##

# Connexion via SQLAlchemy
engine = create_engine(f"mssql+pyodbc://{server}/{database}?trusted_connection=yes&driver=ODBC+Driver+17+for+SQL+Server")

# Lire les données de la vue ViewSales
query = "SELECT * FROM ViewSales"
df = pd.read_sql(query, engine)

In [5]:
# Afficher les premières lignes
print(df.head())

   Qty  SellingPrice  TotalSellingPrice  CostPrice  TotalCostPrice  \
0  3.0          19.0               57.0       13.3            39.9
1  1.0         260.0              260.0      182.0           182.0
2  1.0         100.0              100.0       70.0            70.0
3  3.0          22.0               66.0       15.4            46.2
4  1.0         182.0              182.0      127.4           127.4

     SaleDate CompanyLocationName UserName      ProductName CategoryName
0  2022-01-29               PARIS  ALIMATH          Chicken         MEAT
1  2022-01-29               PARIS  ALIMATH   Chicken strips      CHICKEN
2  2022-01-29               PARIS  ALIMATH  Chicken pot pie      CHICKEN
3  2022-01-29               PARIS  ALIMATH  Chicken nuggets      CHICKEN
4  2022-01-29               PARIS  ALIMATH           Salmon         FISH

In [33]:
# General Analysis
Sales_Total = df['TotalSellingPrice'].sum()
print(f"Sales Total : {Sales_Total}")
Cost_Total = df['TotalCostPrice'].sum()
print(f"Cost total : {Cost_Total}")
profit = Sales_Total - Cost_Total
print(f"Profit:{profit}")

Sales Total : 95266270.5
Cost total : 66686389.35000002
Profit:28579881.149999984

In [25]:
#branches = df['CompanyLocationName'].dropna().unique()
# Afficher les noms de toutes les colonnes pour identifier celle qui contient les "branches"
#print("Colonnes disponibles :", df.columns)

# Supposons que la colonne s'appelle 'branche' ou quelque chose de similaire
#Remplace 'branche' par le nom exact après avoir vu la liste ci-dessus
branches = df['CompanyLocationName'].dropna().unique()

# Afficher toutes les branches uniques
print("Voici les branches disponibles :")
for b in branches:
    print("-", b)

Voici les branches disponibles :
- PARIS
- LAGOS
- ACCRA
- COTONOU
- MONROVIA
- LOME
- ABIDJAN
- DOHA
- NAIROBI

In [45]:
#Sales by branches
Paris_sales = df[df['CompanyLocationName'] == 'PARIS']['TotalSellingPrice'].sum()
Paris_Percent = (Paris_sales / Sales_Total) * 100 if Sales_Total > 0 else 0
Lagos_sales = df[df['CompanyLocationName']== 'LAGOS']['TotalSellingPrice'].sum()
Lagos_Percent = (Lagos_sales / Sales_Total ) * 100 if Sales_Total > 0 else 0

print(f"Sales Total : {Sales_Total:.2f}")
print(f"Paris Sales : {Paris_sales:.2f} ({Paris_Percent:.2f}%)")
print(f"Lagos Sales : {Lagos_sales:.2f} ({Lagos_Percent:.2f}%)")

Sales Total : 95266270.50
Paris Sales : 24713536.50 (25.94%)
Lagos Sales : 17709780.00 (18.59%)